# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production
.env.test

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# temp
temp/

# scripts
test-mongo.js
test-mongo_1.js

# simulations
simulation_for_lead_to_crm/

# admin script
createAdmin.js